{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-5">
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-content text-center">
            <h1 class="display-4 fw-bold mb-4">Sistema de Gerenciamento Antártida</h1>
            <p class="lead mb-0">Navegue pelo universo de dados com a clareza e profundidade do gelo antártico</p>
        </div>
    </div>

    {% include 'partials/_search.html' %}
    {% include 'partials/_features.html' %}

</div>

{% endblock %}